<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="canvas" width="400", height="500">Canvas Play</canvas>

    <script type="text/javascript">
      function imageLoaded(ev) {
        element = document.getElementById("canvas");
        c = element.getContext("2d");

        im = ev.target; // the image, assumed to be 200x200

        // read the width and height of the canvas
        width = element.width;
        height = element.height;

        // stamp the image on the left of the canvas:
        c.drawImage(im, 0, 0);

        // get all canvas pixel data
        imageData = c.getImageData(0, 0, width, height);

        // put pixel data on canvas
        c.putImageData(imageData, 0, 0);
      }

      im = new Image();
      im.onload = imageLoaded;
      im.src = "images/ironPuzzle.png"; // code assumes this image is 200x200
      //finished? try copperPuzzle.png!

    </script>
  </body>
</html>